@media screen and (max-width: 768px) {
  .navbar .navbar-icon{
    display: block;
  }
  .navbar ul{
    display: none;
  }
  .navbar ul.show{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 1000;
    background-color: #020c19;
    width: 50%;

  }
}